MiPrimeraSolucion/MiPrimeraSolucion.UI/Connected Services/BusinessLogicWcf/PruebaBL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PruebaBL" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49739/PruebaBL.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49739/PruebaBL.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49739/PruebaBL.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MiPrimeraSolucion.BL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPruebaBL_SayHello_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="IPruebaBL_SayHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloResponse" />
  </wsdl:message>
  <wsdl:message name="IPruebaBL_SayHelloToSomeone_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloToSomeone" />
  </wsdl:message>
  <wsdl:message name="IPruebaBL_SayHelloToSomeone_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloToSomeoneResponse" />
  </wsdl:message>
  <wsdl:message name="IPruebaBL_SayMessageToSomeone_InputMessage">
    <wsdl:part name="parameters" element="tns:SayMessageToSomeone" />
  </wsdl:message>
  <wsdl:message name="IPruebaBL_SayMessageToSomeone_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayMessageToSomeoneResponse" />
  </wsdl:message>
  <wsdl:message name="IPruebaBL_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IPruebaBL_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPruebaBL_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IPruebaBL_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IPruebaBL">
    <wsdl:operation name="SayHello">
      <wsdl:input wsaw:Action="http://tempuri.org/IPruebaBL/SayHello" message="tns:IPruebaBL_SayHello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPruebaBL/SayHelloResponse" message="tns:IPruebaBL_SayHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SayHelloToSomeone">
      <wsdl:input wsaw:Action="http://tempuri.org/IPruebaBL/SayHelloToSomeone" message="tns:IPruebaBL_SayHelloToSomeone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPruebaBL/SayHelloToSomeoneResponse" message="tns:IPruebaBL_SayHelloToSomeone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SayMessageToSomeone">
      <wsdl:input wsaw:Action="http://tempuri.org/IPruebaBL/SayMessageToSomeone" message="tns:IPruebaBL_SayMessageToSomeone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPruebaBL/SayMessageToSomeoneResponse" message="tns:IPruebaBL_SayMessageToSomeone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPruebaBL/GetData" message="tns:IPruebaBL_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPruebaBL/GetDataResponse" message="tns:IPruebaBL_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IPruebaBL/GetDataUsingDataContract" message="tns:IPruebaBL_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPruebaBL/GetDataUsingDataContractResponse" message="tns:IPruebaBL_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPruebaBL" type="tns:IPruebaBL">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHello">
      <soap:operation soapAction="http://tempuri.org/IPruebaBL/SayHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SayHelloToSomeone">
      <soap:operation soapAction="http://tempuri.org/IPruebaBL/SayHelloToSomeone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SayMessageToSomeone">
      <soap:operation soapAction="http://tempuri.org/IPruebaBL/SayMessageToSomeone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IPruebaBL/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IPruebaBL/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PruebaBL">
    <wsdl:port name="BasicHttpBinding_IPruebaBL" binding="tns:BasicHttpBinding_IPruebaBL">
      <soap:address location="http://localhost:49739/PruebaBL.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>